<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">ACCOMODATION HOTELS PVT. LTD.</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Conditions</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>