<% layout("/layout/boilerplate.ejs") %>
<body>
    <h1>listings</h1>
   
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 ">
            <% for( listings of alllistings ) { %>
                <a href="/listings/<%= listings._id %>" class="listing-tag">
              <div class="card col" >
                  <img src="<%= listings.image %>" class="card-img-top" alt="card image" style="height: 20rem;">
                  <div class="card-body">
                    <p class="card-text"><b><%=listings.title%></b>
                  <br>
                  <%= listings.price ? listings.price.toLocaleString("en-IN") : 'Price not available' %>
              </p>
                  </div>
                </div>
            </a>
                <% } %>
          
              </div>
   
  
</body>
